:root {
    --highlight-color: #FCA311;
    --text-primary: #000000;
    --background-color: #E5E5E5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-primary);
}

body {
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0.5em 1em;
}

.banner {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner img {
    padding: 0.3em;
    height: 28px;
    width: auto;
    border-radius: 5px;;
}

.app-title b {
    color: var(--highlight-color);
    font-size: 1.75rem;
}

.app-title {
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: none;
}

.app-title:hover{
    cursor: pointer;
}

nav {
    flex: 1;
    display: flex;
    flex-direction: column;
}

nav.hidden {
    display: none;
}

.nav-link {
    font-size: 1rem;
    font-weight: 500;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 5px;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--text-primary);
    background-color: var(--highlight-color);
}

.nav-link.active {
    color: var(--text-primary);
    background-color: var(--highlight-color);
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-evenly;
    padding: 1em;
}

.section-text {
    max-width: 80%;
    line-height: 2.5rem;
    text-align: center;
}

.section-text .main {
    font-size: 2rem;
    font-weight: 600;
}

.section-text .helper {
    font-size: 1.5rem;
}

.section-text b {
    color: var(--highlight-color);
}

.section-graphic {
    max-width: 240px;
}

.section-graphic img {
    width: 100%;
    height: auto;
}

/* Initial style for the image */
.rotate {
    width: 200px;  /* Example size */
    height: 200px; /* Example size */
    animation: rotateAnimation 2.5s ease-in-out infinite; /* Apply the animation */
}

/* Define the keyframes for the animation */
@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg); /* Start at 0 degrees */
    }
    100% {
        transform: rotate(360deg); /* End at 360 degrees */
    }
}

#about {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.section-title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.section-title b {
    color: var(--highlight-color);
    font-weight: 700;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
    width: 100%;
}

.card {
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    width: 300px;
}

.card-img {
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}

.card-img img {
    border-radius: 50%;
    width: 100%;
    height: auto;
}

.card-title {
    margin-top: 1em;
    font-weight: 500;
    font-size: 1.2rem;
}

.card-text {
    font-size: 0.9rem;
    font-weight: 300;
}

#contact {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

form {
    width: 300px;
}

label {
    font-weight: 600;
    font-size: 1.1rem;
}

input {
    border: none;
    background-color: var(--background-color);
    padding: 0.8em 1em;
    width: 100%;
    border-radius: 5px;
    font-size: 0.9rem;
}

input:focus {
    border-bottom: 1px solid var(--highlight-color);
    outline: none;
}

button {
    background-color: var(--highlight-color);
    padding: 0.8em 1em;
    border-radius: 5px;
    width: 100%;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    font-weight: 700;
}

button:hover {
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
}

/* Tablet (min-width: 768px) */
@media (min-width: 768px) {
    /* Styles for tablets and larger devices */
    body {
        font-size: 18px;
    }

    .card-container {
        flex-wrap: wrap;
        flex-direction: row;
    }
}

/* Desktop (min-width: 1024px) */
@media (min-width: 1024px) {
    /* Styles for desktops and larger devices */
    body {
        font-size: 20px;
    }

    .scale-anim {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
    .scale-anim:hover {
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        transform: scale(1.1);
    }

    #navToggle {
        display: none;
    }

    #navFlyout {
        display: flex;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
    }

    nav {
        flex: 0;
        flex-direction: row;
        align-items: center;
        gap: 1em;
    }
}

/* Large Desktop (min-width: 1440px) */
@media (min-width: 1440px) {
    /* Styles for large desktops or high-resolution screens */
    body {
        font-size: 22px;
    }
}