{% extends "base.html" %}

{% block title %}{{ title }} | Archons.dev{% endblock %}

{% block content %}
<main id="about">
  <!-- Title -->
  <span class="section-title">Meet the <b>TEAM</b></span>
  <!-- Cards -->
  <div class="card-container">
    <div class="card">
      <div class="card-img">
        <img src="{{ url_for('static', filename='images/pfp_03.jpg') }}" alt="">
      </div>
      <div class="card-title">
        <p>Brent</p>
      </div>
      <div class="card-text">
        <p>Lead Backend Developer</p>
      </div>
    </div>

    <div class="card">
      <div class="card-img">
        <img src="{{ url_for('static', filename='images/pfp_02.png') }}" alt="">
      </div>
      <div class="card-title">
        <p>Dawn</p>
      </div>
      <div class="card-text">
        <p>Lead Frontend Developer</p>
      </div>
    </div>

    <div class="card">
      <div class="card-img">
        <img src="{{ url_for('static', filename='images/pfp_01.jpg') }}" alt="">
      </div>
      <div class="card-title">
        <p>Cedrick</p>
      </div>
      <div class="card-text">
        <p>UI/UX Designer</p>
      </div>
    </div>
  </div>
</main>
{% endblock %}