<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Archons{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Funnel+Display:wght@300..800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
</head>
<body>
  <!-- Header & Navigation -->
  <header>
    <div class="banner">
      <a class="app-title" href="/"><b>Archons</b>.dev/</a>
      <img id="navToggle" src="{{ url_for('static', filename='images/hamburger.svg') }}" alt="">
    </div>

    <!-- Navigation -->
    <nav id="navFlyout" class="hidden">
      <a class="nav-link scale-anim {{ 'active' if title == 'Home' else '' }}" href="/">Home</a>
      <a class="nav-link scale-anim {{ 'active' if title == 'About' else '' }}" href="/about">About</a>
      <a class="nav-link scale-anim {{ 'active' if title == 'Contact' else '' }}" href="/contact">Contact</a>
    </nav>
  </header>

  <!-- Main Content -->
   {% block content %}{% endblock %}

  <!-- Footer -->
  <footer>
    <small>Copyright Archons.dev 2024</small>
  </footer>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>