{% extends "base.html" %}

{% block title %}{{ title }} | Archons.dev{% endblock %}

{% block content %}
<main id="contact">
  <!-- Title -->
  <span class="section-title"><b>Interested</b>? Contact us to get started.</span>
  <!-- Contact Us Form -->
  <form action="/send-email" method="POST">
    <label for="name">Name</label><br>
    <input type="text" id="name" name="name" placeholder="Enter your name" required><br><br>

    <label for="email">Email</label><br>
    <input type="email" id="email" name="email" placeholder="Enter your email" required><br><br>

    <button class="scale-anim" type="submit">Submit</button>
</form>
</main>
{% endblock %}