<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | Archons</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Funnel+Display:wght@300..800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
  <!-- Header & Navigation -->
  <header>
    <div class="banner">
      <a class="app-title" href="/"><b>Archons</b>.dev/</a>
    </div>

    <!-- Navigation -->
    <nav>
      <a class="nav-link active" href="/">Home</a>
      <a class="nav-link" href="/about">About</a>
      <a class="nav-link" href="/contact">Contact</a>
    </nav>
  </header>

  <!-- Main Content -->
  <main id="homepage">
    <!-- Landing Image -->
    <section class="section-graphic">
      <img src="{{ url_for('static', filename='images/uncharted.svg') }}" alt="">
    </section>
    <!-- Landing Text -->
    <section class="section-text">
      <p class="main"><b>SUPERCHARGE</b> your business.</p>
      <p class="helper">Build <b>POWERFUL</b> apps with us.</p>
    </section>
  </main>

  <!-- Footer -->
  <footer>
    <small>Copyright Archons.dev 2024</small>
  </footer>
</body>
</html>